div.row-fluid {
    /* text-align: center; */
    margin-top: 0;
}

div.row-fluid a {
	margin-left: 0.3em;
	margin-bottom: 0;
}

.link {
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    display: inline-table;
    position: relative;
    margin-bottom: 0;
}


.link.anim-up {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.link.anim-up:hover {
	-webkit-transform: translateX(30%);
	transform: translateX(30%);
}
